<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Customer</title>

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <style type="text/css">
      #us{
        float: right;
        margin-right: 20px;
        margin-top: 10px;
      }
      #us h3{
        margin: 0 0 0 0;
      }
      .ps{
        width: 60%;
        margin-top: 20px;
        margin-left: 20%
      }
      h1 {
        margin-left: 25px;
      }
      img{
        margin-top: 20px
      }
      aside {
        width: 270px;
        padding-left: 15px;
        margin-top: 20px;
        margin-left: 0px;
        float: left;
        font-style: italic;
        background-color: lightgray;
      }
      #icon{
        float: right;
        margin-top: -15px;
      }
      #signout{
        width: 100px;
        height: 20px;
      }
      #signout a{
        padding: 2px 0px 2px 20px;
      }
    </style>
  </head>
<body>
<div id="us">
<ul class="nav nav-pills">
  <li><h3> {{session['current_user']}} &nbsp</h3></li>
  <li role="presentation" class="active" id="signout"><a href="/logout">Sign Out</a></li>
 </ul> 
</div>
<div>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/books">Transaction</a></li>
  <li role="presentation" class="active"><a href="/customer">Customer</a></li>
  <li role="presentation"><a href="/credit_card">Credit Card</a></li>
  <li role="presentation"><a href="/category">Category</a></li>
<li role="presentation"><a href="/about_user">About</a></li>
</ul>
</div>

<aside>
  <form method="POST" action = "/send_data3">
    <div class="form-group">
      <h4><strong>Credit Card Type</strong></h4>
      <select name="credit_card">
        <option value="Frequent Flyer Card,Live Fresh Student Card,Petrol Card,Premium Membership Card,Woman's Card">All</option>
        <option value="Frequent Flyer Card,Frequent Flyer Card,Frequent Flyer Card,Frequent Flyer Card,Frequent Flyer Card">Frequent Flyer Card</option>
        <option value="Live Fresh Student Card,Live Fresh Student Card,Live Fresh Student Card,Live Fresh Student Card,Live Fresh Student Card">Live Fresh Student Card</option>
        <option value="Petrol Card,Petrol Card,Petrol Card,Petrol Card,Petrol Card">Petrol Card</option>
        <option value="Premium Membership Card,Premium Membership Card,Premium Membership Card,Premium Membership Card,Premium Membership Card">Premium Membership Card</option>
        <option value="Woman's Card,Woman's Card,Woman's Card,Woman's Card,Woman's Card">Woman's Card</option>
      </select>
    </div>
    <div class="form-group">
      <h4><strong>Date</strong></h4>
      <p>Year</p>
      <select name="year">
        <option value="2021,2022">All</option>
        <option value="2021,2021">2021</option>
        <option value="2022,2022">2022</option>
      </select>
    </div>
    <div class="form-group">
      <p>Quarter</p>
      <select name="quarter">
        <option value="1,4">All</option>
        <option value="1,1">1</option>
        <option value="2,2">2</option>
        <option value="3,3">3</option>
        <option value="4,4">4</option>
      </select>
    </div>
    <div class="form-group">
      <p>Start Month</p>
      <select name="m1">
        <option value="1">Jan</option>
        <option value="2">Feb</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">Jul</option>
        <option value="8">Aug</option>
        <option value="9">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
      </select>
    </div>
    <div class="form-group">
      <p>End Month</p>
      <select name="m2">
        <option value="1">Jan</option>
        <option value="2">Feb</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">Jul</option>
        <option value="8">Aug</option>
        <option value="9">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
      </select>
    </div>
    <div class="form-group">
      <h4><strong>Customer</strong></h4>
      <p>Age</p>
      <select name="age">
        <option value="[10,71]">All</option>
        <option value="[20,29]">20 to 29</option>
        <option value="[30,39]">30 to 39</option>
        <option value="[40,49]">40 to 49</option>
        <option value="[50,59]">50 to 59</option>
        <option value="[60,70]">60 to 70</option>
      </select>
    </div>
    <div class="form-group">
      <p>Gender</p>
      <select name="gender">
        <option value="Male,Female">All</option>
        <option value="Male,Male">Male</option>
        <option value="Female,Female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <p>Credit Rating</p>
      <select name="credit_rating">
        <option value="1,10">All</option>
        <option value="1,5">1 to 5</option>
        <option value="6,10">6 to 10</option>
      </select>
    </div>
    <div class="form-group">
      <h4><strong>Product</strong></h4>
      <p>Product Category</p>
      <select name="category">
        <option value="Health,Bakery,Grocery,Transport,Retail,Food">All</option>
        <option value="Health,Health,Health,Health,Health,Health">Health</option>
        <option value="Bakery,Bakery,Bakery,Bakery,Bakery,Bakery">Bakery</option>
        <option value="Grocery,Grocery,Grocery,Grocery,Grocery,Grocery">Grocery</option>
        <option value="Transport,Transport,Transport,Transport,Transport,Transport">Transport</option>
        <option value="Retail,Retail,Retail,Retail,Retail,Retail">Retail</option>
        <option value="Food,Food,Food,Food,Food,Food">Food</option>
      </select>
    </div>
    <div class = "form-group">
      <h4><strong>Rank</strong></h4>
      <p>Top N Customers</p>
      <input type="text" name = "top">
    </div>
    <div class = "form-group">
      <p>Bottom N Customers</p>
      <input type="text" name = "bottom">
    </div>
    <input class="btn btn-primary" type="submit" value="Filter">
  </form>
</aside>

<h1>Customer</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h3 class="flashes" align="center" style="color:#337ab7">{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% endwith %}

<img src="https://thumbs.dreamstime.com/b/business-financial-markets-compass-gears-diagrams-facades-office-buildings-as-symbol-172112717.jpg" alt="fin" style="width:1125px;height:558px;" >

<div class="ps">
{% for i in booksAndAssignments %}
<div class="panel panel-info">
  <div class="panel-heading">
    <div><h3 class="panel-title">Customer Name: {{i.full_name}}</h3></div>
  </div>
  <div class="panel-body">
    <p>Customer ID: {{i.customer_id}}</p>
    <p> Age:  {{i.age}}       </p>
    <p> Gender: {{i.gender}} </p>
    <p>Occupation: {{i.occupation}}     
    <p>Credit Rating: {{i.credit_rating}} </p>     
    <p>Annual Income: {{i.annual_income}}</p>
    <p>Total Spend: {{i.sum}}</p>
  </div>
</div>
{% endfor %}
</div>    
</body>
</html>